.header{
    color: black;
    font-weight: bold;
    font-size: x-large;
  
    background-color: rgb(241, 207, 212);
}
.body{
    background-color: rgb(145, 92, 101);
    font-size: larger;
    text-align: center;
    color: rgb(197, 188, 188);
}