.main {
  display: flex;
  gap: 20px;       
  justify-content: center; 
  padding: 20px;
  flex-wrap: wrap;  
  text-align: center;
  align-items: center;
  background-color: rgb(248, 214, 220);
  margin-top: 50px;
}
.div{
  background:rgb(252, 222, 227);
  font-weight: bold;
  height: 40px;
  width:150px;
}

